<div class="d-flex">
    <!-- Sidebar desktop -->
    <nav id="sidebar">
      <!-- Profil -->
      <div class="profil text-center mt-3 mb-4">
        <img src="assets/logo.jpg" alt="logo" class="img-fluid rounded">
      </div>
      <!-- Onglets -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/produits']">
            Produits
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/clients']">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/commandes']">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/vendeurs']">Vendeurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/chauffeurs']">Chauffeurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/utilisateurs']">Utilisateurs</a>
        </li>
      </ul>
    </nav>
  <!-- Sidebar mobil -->
    <div id="sidebar-mobile">
      <button class="btn btn-outline-secondary border rounded border-secondary btn-mobile" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="offcanvas offcanvas-start offcanvas-mobile" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
          <div class="profil text-center mt-3 mb-4">
            <img src="assets/logo.jpg" alt="logo" class="img-fluid rounded">
          </div>
          <button type="button text-white" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/produits']">
                  Produits
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/clients']">Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/commandes']">Commandes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/vendeurs']">Vendeurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/chauffeurs']">Chauffeurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/utilisateurs']">Utilisateurs</a>
              </li>
            </ul>
        </div>
      </div>

    </div>

    
  
    <main class="flex-grow-1 p-1">
        <router-outlet></router-outlet>
    </main>
</div>
